<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mwallet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <!-- Allow to connect with internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mwallet.Splash"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mwallet.RegisterActivity"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name="com.example.mwallet.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name="com.example.mwallet.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name="com.example.mwallet.DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name="com.example.mwallet.Forgot_Pasword"
            android:label="@string/title_activity_forgot__pasword" >
        </activity>
        <activity
            android:name="com.example.mwallet.InvoiceActivity"
            android:label="@string/title_activity_invoice" >
        </activity>
    </application>

</manifest>